::-webkit-scrollbar
{
  display: none;
}

html, body
{
	margin: 0;
}

.nav
{
  background: #313A3D;
  height: 10%;
	padding: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
	position: sticky;
	top: 0;
	z-index: 800;
}

.debian-logo
{
  width: 4%;
  padding: 7px;
  margin-left: 0.5%;
}

.debian-logo img
{
  width: 100%;
}

.nav ul
{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
	margin-top: 15px;
  font-weight: bolder;
}

.nav ul li a
{
  line-height: 40px;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

/****************************** CARROUSEL ******************************/
main
{
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.slider
{
  height: 20%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0;
  position: relative;
  text-align: center;
}

.slider-inner
{
  overflow: hidden;
}

.slides
{
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;

  height: 540px;
  list-style: none;
  padding: 0;
  width: 400%;

  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.slide
{
  width: 25%;
}

.slider-control
{
  display: none;
}

.slider-control-label
{
  background-color: #C9C9C9;
  border: 2px solid #000000;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
}

.slider-control-label:hover,
.slider-control-label:focus
{
  background-color: #FFFFFF;
}

.slide-back,
.slide-next
{
  background-color: #C9C9C9;
  border-radius: 100%;
  border: 2px solid #000000;
  color: #C9C9C9;
  cursor: pointer;
  display: none;
  font-weight: bold;
  height: 26px;
  position: absolute;
  text-align: center;
  top: 50%;
  vertical-align: middle;
  width: 26px;
}

.slide-back:hover,
.slide-back:focus,
.slide-next:hover,
.slide-next:focus
{
  background-color: #FFFFFF;
}

.slide-back
{
  left: -50px;
}

.slide-next
{
  right: -50px;
}

.slider-arrow::before,
.slider-arrow::after
{
  border: 2px solid #000000;
  border-radius: 9px;
  content: '';
  height: 0;
  position: absolute;
  width: 9px;
}

.slide-back::before
{
  left: 5px;
  top: 8px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slide-back::after
{
  bottom: 8px;
  left: 5px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slide-next::before
{
  right: 5px;
  top: 8px;

  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slide-next::after
{
  bottom: 8px;
  right: 5px;

  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#slide-1:checked ~ .slider-inner .slides
{
  margin-left: 0;
}

#slide-2:checked ~ .slider-inner .slides
{
  margin-left: -100%;
}

#slide-3:checked ~ .slider-inner .slides
{
  margin-left: -200%;
}

#slide-4:checked ~ .slider-inner .slides
{
  margin-left: -300%;
}

#slide-1:checked ~ .slider-control-label[for="slide-1"],
#slide-2:checked ~ .slider-control-label[for="slide-2"],
#slide-3:checked ~ .slider-control-label[for="slide-3"]
{
  background-color: #000000;
}

#slide-1:checked ~ .slide-back[for="slide-3"],
#slide-1:checked ~ .slide-next[for="slide-2"],
#slide-2:checked ~ .slide-back[for="slide-1"],
#slide-2:checked ~ .slide-next[for="slide-3"],
#slide-3:checked ~ .slide-back[for="slide-2"],
#slide-3:checked ~ .slide-next[for="slide-1"]
{
  display: block;
}

/****************************** GALERIE ******************************/
.gallery
{
	width: 90%;
	margin: 10% auto;
	padding: 1%;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	height: 530px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.center-gallery
{
	width: 100%;
  margin: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.center-gallery > div
{
  position: relative;
  float: left;
  padding: 10px;
	margin: auto;
}

.center-gallery > div > img
{
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.center-gallery > div:hover
{
  z-index: 1;
}

.center-gallery > div:hover > img
{
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after
{
  display: table;
  content: "";
  line-height: 0;
}

.cf:after
{
  clear: both;
}

/****************************** CONTACT FORM ******************************/
body
{
  background: #efefef;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #B6B6B6;
}

body section
{
  background: white;
  margin: 60px auto 120px;
  border-top: 15px solid #313A3D;
  text-align: center;
  padding: 50px 0 110px;
  width: 80%;
  max-width: 1100px;
}

body section h1
{
  margin-bottom: 40px;
  font-size: 4em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

form
{
  width: 58.33333%;
  margin: 0 auto;
}

form .field
{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

form .field label
{
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  background: #313A3D;
  width: 100%;
  padding: 18px 0;
  font-size: 1.45em;
  letter-spacing: 0.075em;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field label + span
{
  font-family: 'SSStandard';
  opacity: 0;
  color: white;
  display: block;
  position: absolute;
  top: 12px;
  left: 7%;
  font-size: 2.5em;
  text-shadow: 1px 2px 0 #D71C54;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"],
form .field textarea
{
  border: none;
  background: #E8E9EA;
  width: 80.5%;
  margin: 0;
  padding: 18px 0;
  padding-left: 19.5%;
  color: #313A3D;
  font-size: 1.4em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

form .field input[type="text"]#msg,
form .field textarea#msg
{
  height: 18px;
  resize: none;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form .field input[type="text"]:focus,
form .field input[type="text"].focused,
form .field textarea:focus,
form .field textarea.focused
{
  outline: none;
}

form .field input[type="text"]:focus#msg,
form .field input[type="text"].focused#msg,
form .field textarea:focus#msg,
form .field textarea.focused#msg
{
  padding-bottom: 150px;
}

form .field input[type="text"]:focus + label,
form .field input[type="text"].focused + label,
form .field textarea:focus + label,
form .field textarea.focused + label
{
  width: 18%;
  background: #D71C54;
  color: #313A3D;
}

form .field input[type="text"].focused + label,
form .field textarea.focused + label
{
  color: #D71C54;
}

form .field:hover label
{
  width: 18%;
  background: #313A3D;
  color: white;
}

form input[type="submit"]
{
  background: #D71C54;
  color: white;
  -webkit-appearance: none;
  border: none;
  text-transform: uppercase;
  position: relative;
  padding: 13px 50px;
  font-size: 1.4em;
  letter-spacing: 0.1em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  -webkit-transition: all 333ms ease-in-out;
  -moz-transition: all 333ms ease-in-out;
  -o-transition: all 333ms ease-in-out;
  -ms-transition: all 333ms ease-in-out;
  transition: all 333ms ease-in-out;
}

form input[type="submit"]:hover
{
  background: #313A3D;
  color: #D71C54;
}

form input[type="submit"]:focus
{
  outline: none;
  background: #c7335f;
}

/****************************** FOOTER ******************************/
.footer
{
  background: #313A3D;
  height: 10%;
	padding: 2px;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
	position: relative;
	bottom: 0;
}

.footer ul
{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
	margin-top: 20px;
  font-weight: bolder;
}

.footer ul li a
{
  line-height: 40px;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}
